<div class="fullPage d-flex align-items-center justify-content-center">
    <div class="row justify-content-center w-100">
        <div class="col-lg-5 col-md-7 col-sm-10">

        <p-card class="shadow rounded">
    
            <ng-template pTemplate="header" class="card-header">
                <img src="assets/images/logo.png" class="w-25">
            </ng-template>

            <h3>
                Signup
            </h3>
            <form [formGroup]="signupCtrl" (ngSubmit)="signup()">
                <input type="text" pInputText class="w-100 mt-2" placeholder="name" formControlName="name"/>
                <small *ngIf=" !(nameCtrl.errors| keyvalue)?.length" > {{nameCtrl.errors}}</small>
                <input type="text" pInputText class="w-100 mt-2" placeholder="Email" formControlName="email"/>
                <small *ngIf="!(emailCtrl.errors| keyvalue)?.length" > {{emailCtrl.errors}}</small>
                    <input type="password" pInputText class="w-100 mt-2" placeholder="Password" formControlName="password" />
                    <small *ngIf="!(passwordCtrl.errors| keyvalue)?.length" > {{passwordCtrl.errors}}</small>

                    <div class="row justify-content-between mt-2">
                        <div class="col-auto">
                            Already have an account? <a routerLink="/login">Signin</a>
                        </div>
                        <div class="col-auto">
                            <button pButton type="button" label="Submit" type="submit" class="me-1"></button>
                        </div>
                    </div>
                </form>
        </p-card>
        </div>
    </div>
</div>