<div class="container mt-5 mb-2">
    <div class="row">
        <div class="col-md-12">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="row justify-content-between p-4">
                        <div class="col-auto">
                            <h4>
                                Movies
                            </h4>
                        </div>
                        <div class="col-auto">
                            <input type="number" pInputText [(ngModel)]="category"/>
                        </div>
                        <div class="col-auto">
                            <button pButton type="button" class="p-button-outlined mx-2"  label="filter" (click)="filter()"></button>
                            <button pButton type="button" class="p-button-outlined mx-2" label="Reset" (click)="listMovies()"></button>
                        </div>
                        <div class="col-auto">
                            <button pButton type="button" class="p-button-outlined" label="Add Movie" (click)="addDialog()"></button>
                        </div>
                    </div>
                </ng-template>
                <div *ngIf="loading"  class="d-flex justify-content-center align-items-center">
                    <p-progressSpinner ></p-progressSpinner>
                </div>
                <app-movie-card *ngIf="!loading" [movies]="movies" (newMovies)="handleNewMovies($event)"></app-movie-card>
            </p-card>
        </div>
    </div>
</div>